

<br>
<br>

<br>
<!-- <p> featured: </p> -->


<%= image_tag "login_home.png", class: "login_home"  %>

<%= render partial: "products/product_large", collection: @featured_products %>



<%= link_to "", products_path %>
