body {
  font-family: helvetica;
}

a {
  color:black;
  text-decoration:  none;
}

a:hover {
  color:cyan;
}

.title {
  font-size: 2.5vw;
  font-weight: bold;
  // background-color: lime;

  display: inline;
  position: fixed;
  top:0;
  left:0;

}

.nav {
  font-size: 2.5vw;

  // background-color: red;

  display: inline;
  position: fixed;
  top:0;
  right:0;
}

.login_home {

  position: absolute;

  top:10vw;
  left: 10vw;

  width:35vw;
  transform: rotate(1deg);
}


.image_featured {

  width:45vw;
  position: absolute;

  top: 3vw;
  right: 10vw;
}

.title_featured {
  font-size: 1.5vw;
  font-weight: bold;

}
.price_featured {
  font-size: 1.5vw;
  color:red;

.buy_featured {
  position: absolute;
  right:0;
  color: red;
}

}
.text_featured {
  position: relative;
  top: 23vw;
  left: 42vw;
  line-height: 0.5vw;

  // border: solid 0.2vw black;
  // border-radius: 50px;
  width: 12vw;

  padding-left: 1vw;
  padding-right: 0.5vw;
}


.product_title {

  position: absolute;
  top:10vw;
  left: 60vw;

  font-size: 3vw;

  font-weight: bold;
}

.product_cart {

  position: absolute;
  top:15vw;
  left: 60vw;
}

.product_button {

  background-color: white;
  border: solid 0.1vw black;
  border-radius: 50px;
}

.product_image {

  position: absolute;
  top:5vw;
}
